
  <body>
    <h1>LES EQUIPES</h1>
    <% teams.forEach(function(team) { %>
      <div class="coll">
        <div class="">
          <h2><%= team.name %></h2>
          <p><%= team.short_name %></p>
          <img src="<%= team.logo %>" alt="logo equipe"></img>
          <p><%= team.fundation_date %></p>
          <p><%= team.president %></p>
          <p><%= team.adress %></p>
          <p><%= team.website %></p>

          <p><%= team.pnk %></p>
        </div>


      </div>

    <% }) %>
  </body>
</html>
