<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1></h1>
    <%= teams[0]['name'] %>
    <%= teams[0]['short_name'] %>
    <%= teams[0]['fundation_date'] %>
    <%= teams[0]['president'] %>
    <%= teams[0]['adress'] %>
    <%= teams[0]['website'] %>
    <%= teams[0]['logo'] %>
    <%= teams[0]['link'] %>
  </body>
</html>
